{% extends "../layout.njk" %}
{%block title%}
  <title>Stoody Manager</title>
{%endblock title%}

{%block links%}
  <link rel="stylesheet" href="/styles/styles.css">
{%endblock links%}

{% block content %}
  <div class="card table-container">
    <a href="/students/create">Add new</a>
    <table width="100%">
      <thead>
        <tr>
          <th>Student</th>
          <th>Email</th>
          <th>Level</th>
          <th>Action</th>
        </tr>
        <tbody>
          {%for student in students%}
            <tr>
              <td><span style="background-image : url({{student.avatar_url}})"></span>{{student.name}}</td>
              <td>{{student.email}}</td>
             <td>
               {{student.level}}th grade
             </td>
              <td>
                <a href="/students/{{student.id}}">Enter</a>
              </td>
            </tr>
            {%endfor%}
          </tbody>
        </thead>

      </table>
    </div>

  </section>
</div>
{% endblock content %}