{% extends "layout.njk" %}
  {%block title%}
        <title>Stoody</title>
       {%endblock title%}


       {%block links%}
       <link rel="stylesheet" href="/styles/styles.css">
       {%endblock links%}

{% block content %}

{% endblock content %}