{% extends "../layout.njk" %}
{%block title%}
    <title>Stoody</title>
{%endblock title%}

{%block links%}
    <link rel="stylesheet" href="/styles/create.css">
{%endblock links%}

{% block content %}
    <form class="card" method="POST" action="/students">
        <section class="avatar" style="background: url(https://image.freepik.com/free-vector/schoolbag-supplies-back-school_24640-46260.jpg)no-repeat center center / cover"></section>

        <section class="details">
            <h3>New student</h3>
            {%include 'students/fields.njk'%}

        </section>
    </form>
{% endblock content %}