{% extends "../layout.njk" %}
{%block title%}
    <title>Stoody</title>
{%endblock title%}

{%block links%}
    <link rel="stylesheet" href="/styles/create.css">
{%endblock links%}

{% block content %}
    <form class="card" method="POST" action="/teachers">
        <section class="avatar" style="background: url(../assets/1685.jpg)no-repeat center center / cover"></section>

        <section class="details">
            <h3>New teacher</h3>
            {%include 'teachers/fields.njk'%}
        </section>
    </form>
{% endblock content %}