{% extends "../layout.njk" %}
{%block title%}
    <title>Stoody</title>
{%endblock title%}

{%block links%}
    <link rel="stylesheet" href="/styles/forms.css">
{%endblock links%}

{% block content %}
    <div class="card">
        <section class="avatar" style="background: url({{teacher.avatar_url}})no-repeat center center / cover"></section>

        <section class="details">

            <form method="POST" action="/teachers?_method=PUT">
                <h3>Edit information</h3>

                {%include 'teachers/fields.njk'%}

                <input type="hidden" name="id" value="{{teacher.id}}">
            </form>

            <form id="form-delete" method="POST" action="/teachers?_method=DELETE">
                <input type="hidden" name="id" value="{{teacher.id}}">
                <button type="submit">Delete</button>
            </form>

            {%include '../confirm.njk'%}

        </section>

    </div>
{% endblock content %}