{% extends "layout.njk" %}
{%block title%}
    <title>Stoody</title>
{%endblock title%}

{%block links%}
    <link rel="stylesheet" href="/styles/styles.css">
{%endblock links%}

{% block content %}
    <form class="card" method="POST" action="/teachers">
        <section class="avatar" style="background: url(https://source.unsplash.com/collection/8874679/500x500)no-repeat center center / cover"></section>

        <section class="details">
            <h3>Edit information</h3>
            
            {%include 'teachers/fields.njk'%}


        </section>
    </form>
{% endblock content %}