{% extends "../layout.njk" %}
{%block title%}
  <title>Stoody Manager</title>
{%endblock title%}

{%block links%}
  <link rel="stylesheet" href="/styles/styles.css">
{%endblock links%}

{% block content %}
  <div class="card table-container">
    <a href="/teachers/create">Add new</a>
    <table width="100%">
      <thead>
        <tr>
          <th>Teacher</th>
          <th>Class format</th>
          <th>Subject</th>
          
          <th>Action</th>
        </tr>
        <tbody>
          {%for teacher in teachers%}
            <tr>
              <td><span style="background-image : url({{teacher.avatar_url}})"></span>{{teacher.name}}</td>
              <td><span>{{teacher.styles}}</span></td>
              <td><span>{{teacher.services}}</span></td>
              <td>
                <a href="/teachers/{{teacher.id}}">Enter</a>
              </td>
            </tr>
            {%endfor%}
          </tbody>
        </thead>

      </table>
    </div>

  </section>
</div>
{% endblock content %}