{% extends "../layout.njk" %}
{%block title%}
  <title>Stoody</title>
{%endblock title%}

{%block links%}
  <link rel="stylesheet" href="/styles/styles.css">
{%endblock links%}

{% block content %}
  <div class="card">
    <section class="avatar" style="background: url({{teacher.avatar_url}})no-repeat center center / cover"></section>
    <section class="details">
      <h3>Details</h3>
      <div class="item">
        <div>Teacher</div>
        <div>{{teacher.name}}</div>
      </div>

      <div class="item">
        <div> Age </div>
        <div>{{teacher.age}}</div>
      </div>

      <div class="item">
        <div>Educational level</div>
        <div>{{teacher.degree}}</div>
      </div>

       <div class="item">
        <div>Type</div>  
         <div>{{teacher.styles}}</div>
      </div>

      <div class="item">
        <div>Subjects</div>
        <div>
          {% for service in teacher.services %}
         <span>{{service}}</span>
         {%endfor%}
        </div>
      </div>

      <div class="item">
        <div>Been with us since:</div>
        <div>
        {{teacher.created_at}}
        </div>
      </div>

      <a href="/teachers/{{teacher.id}}/edit" class="button"> Editar</a>

    </section>
  </div>
{% endblock content %}